<html>
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/keyboard.css">
  </head>
  <body>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!nazih<br>
        <input type="text">
        <a href="/update">update software</a>
      </span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.4/js/jquery.keyboard.extension-mobile.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.28.4/js/jquery.keyboard.js"></script>
    <script src="static/main.js"></script>
  </body>
</html>
